<body>
<div class="main">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="col-md-12">
      <div class="side-nav">
        <h1>PortalNet</h1>
        <div class="services">
            <ngb-carousel *ngIf="images">
               <ng-template ngbSlide>
                 <img [src]="images[0]" alt="Random first slide">
                 <div class="carousel-caption">
                   <h3>First slide label</h3>
                   <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                 </div>
               </ng-template>
               <ng-template ngbSlide>
                 <img [src]="images[1]" alt="Random second slide">
                 <div class="carousel-caption">
                   <h3>Second slide label</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                 </div>
               </ng-template>
               <ng-template ngbSlide>
                 <img [src]="images[2]" alt="Random third slide">
                 <div class="carousel-caption">
                   <h3>Third slide label</h3>
                   <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                 </div>
               </ng-template>
             </ngb-carousel>
            </div>
      </div>
    </div>
    <div class="col-md-6 ">
       <div class="login-form">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
             <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Introduza o seu E-mail" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Introduza o seu e-mail!</div>
                </div>        
            </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password"  placeholder="Introduza a sua palavra-passe!" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Introduza a sua palavra-passe!</div>
                </div>        
              </div>
             <button type="submit" class="btn btn-primary" [disabled]="loading" style="cursor: pointer;">Login</button>
             <button type="submit" class="btn btn-primary" routerLink="/administrator" style="cursor: pointer;">Admin</button>
          </form>
       </div>
    </div>
 </div>

</body>