.body {
    position: absolute;
}

.main {
    margin-top: 2%;
    position: absolute;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.login-form  {
    margin: 25% 130%;
    width: 50%;   
}

.carousel-caption {
    margin-bottom: 5%;
}

.side-nav {
    position: absolute;
    margin: 5% 5%;
    width: 55%;
}

.side-nav img {
    width: 100%;
}

h1 {
color: rgb(51, 102, 214);
font-size: 500%;
font-weight: 400px;
}

.serviceName {
    margin-top: -3.6%;
    font-size: 320%;
    font-weight: 400px;
    text-align: center;
    color: white;
    background-color: rgba(51, 102, 214, 0.9);
}

.side-nav .services h3 {
    color: black;
    font-size: 300%;
    font-weight: 600px;
}

.services .carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
}

.side-nav .services p, h3 {
    color: black;
    font-size: 150%;
    font-weight: 600px;
}


@media (max-width: 1000px){

    .login-form  {
        margin: 80% 5%;
        width: 90%;
    }

    h1 {
        color: rgb(51, 102, 214);
        font-size: 400%;
    }

    .main {
        margin-top: 10%;
        position: absolute;
        width: 100%;
    }

    .side-nav {
        position: absolute;
        margin: 15% 3%;
        
    }

    form.form-group span {
        color: red;
    }

    
}