<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
</head>
<body>
     
  <div class="row">
      <div class="table-responsive">
        <h2>Tabela de Serviços</h2>
        <br>
        <table class="table">
          <thead>
              <tr>
                  <th>Id Serviço</th>
                  <th>Nome Serviço</th>
                  <th>Internet</th>
                  <th>Tv</th>
                  <th>Telemóvel</th>
                  <th>Telefone</th>
                  <th>Fidelização</th>
                  <th>Preço</th>
                  <th>Data de Criação</th>
                  <th>Estado</th>
                  <th class="text-right">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let service of services " >
                  <td scope="row">{{ service.id }}</td>
                  <td>{{ service.name }}</td>
                  <td>{{ service.internet }}</td>
                  <td>{{ service.tv }}</td>
                  <td>{{ service.mobilePhone }}</td>
                  <td>{{ service.phone }}</td>
                  <td>{{ service.loyalty }}</td>
                  <td>{{ service.price }}</td>                  
                  <td>{{ service.creationDate }}</td>
                  <td>{{ service.status }}</td>
                  <td class="td-actions text-right">
                      <button type="button" rel="tooltip" class="btn btn-primary btn-just-icon btn-sm" data-original-title="" title=""  routerLink="/createService" (click)="getService()">
                          <i class="material-icons">edit</i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="cursor: pointer;" (click)="onDeleteCService(service.id, service.name)">
                          <i class="material-icons">close</i>
                      </button>
                  </td>
              </tr>   
              </tbody>
          </table>
      </div>
  </div>
          


</body>
