.table a.person .material-icons {
    color: green;
}

.table  a.delete .material-icons {
    color: red;
}

a.edit .material-icons {
    color: rgb(51, 102, 214);
    font-size: 150%;
}

a.close .material-icons {
    color: rgb(255, 0, 0);
}

a.btn.btn-primary .material-icons {
    font-size: 97%;
}