<body>
<br><br><br>
<div class="side-nav">
  <div class="row">
    <div class="col-ms-12" >
      <h2>Nome Completo</h2>
      <h4>{{ client.name }}</h4>
      <br><br>
      <h2>Número de Cliente</h2>
      <h4>{{ client.clientNumber }}</h4>
      <br><br>
      <h2>Associar Serviço</h2>
      <a (click)="openModalAssociateService(ASModal)" class="edit">
        <i class="material-icons">edit</i>
      </a>
    </div>
  </div>
</div>
<div class="container" >
  <div class="row" >
    <table class="table table-borderless" >
            <tr>
              <td>NIF</td>
              <td>{{ client.nif }}</td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Data de Inscrição</td>
              <td>{{ client.entryDate }}</td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Fim de Contracto</td>
              <td>{{  client.endContract }}</td>
              <td>
              </td>
            </tr>
            <tr>
              <td>Serviços Associados</td>
              <td>{{ client.numberOfServices }}</td>
              <td>
              </td>
            </tr>
            <tr>
            <td>Mensalidade</td>
            <td>{{ client.monthlyPay }}</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>Fraudulento</td>
            <td>{{ client.fraudulent }}</td>
            <td>
            </td>
          </tr>
          <tr>
            <td>Morada</td>
            <td>{{ client.address }}</td>
            <td>
              <a (click)="openModalAdress(content)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Localidade</td>
            <td>{{ client.city }}</td>
            <td>
              <a (click)="openModalLocality(content)" class="edit">
                <i class="material-icons">edit</i>
            </a>
            </td>
          </tr>
          <tr>
            <td >Código-Postal</td>
            <td>{{ client.postalCode }}</td>
            <td>
              <a (click)="openModalPostalCode(content)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ client.email }}</td>
            <td>
              <a (click)="openModalEmail(content)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Telemóvel</td>
            <td>{{ client.mobilePhone }}</td>
            <td>
              <a (click)="openModalMobilePhone(content)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
              <td>Telefone</td>
              <td>{{ client.phone }}</td>
              <td>
                <a (click)="openModalPhone(content)" class="edit">
                  <i class="material-icons">edit</i>
                </a>
              </td>
          </tr>
          <tr>
            <td>Serviço</td>
            <td>{{ client.serviceName }}</td>
            <td>
              <a (click)="openModalService(service)" class="edit">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>
          <tr>
            <td>Estado</td>
            <td>{{ client.status }}</td>
            <td>
              <a class="delete">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar {{ nameToChange }}</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
      <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="{{ placeHolder }}" (input)="updateData($event)" id="{{ dataToChange }}" name="{{ dataToChange }}" required> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.save('saveClick')">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #service let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Alterar Serviço</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
    </a>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
        <select name="service" id="service" class="form-control" #service="ngModel" ngModel required>
            <option value="4">Pacote 4 Serviços</option>
            <option value="3">Pacote 3 Serviços</option>
            <option value="2">Pacote 2 Serviços</option>
            <option value="1">Pacote 1 Serviço</option>
        </select>
    </div>
</div>     
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.save('saveClick')">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- <ng-template #status let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Alterar o estado de conta</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group" class="col-sm-5 control-label">
          <div class="radio" *ngFor="let state of status" required>
              <label>
                  <input type="radio"
                  name="state"
                  ngModel
                  [value]="state"> {{ state }}
              </label>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.save('saveClick')">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template> -->




<ng-template #ASModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Associar Novo Serviço</h4>
    <a (click)="modal.dismiss('Cross click')" class="close">
        <i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-body">
    <label for="moradaAS">Morada de Instalação</label>
      <input type="text" class="form-control" placeholder="Introduza a morada de instalação!" (input)="updateData($event)"  name="adress" id="adress" #adress="ngModel" ngModel required>
      <span class="help-block" *ngIf="!adress.valid && adress.touched">Introduza uma morada para a instalação!</span>
  </div>
  <div class="modal-body">
      <label for="postCode">Código-Postal</label>
        <input type="text" class="form-control" placeholder="Introduza o Código-Postal" (input)="updateData($event)"  name="postCode" id="postCode" #postCode="ngModel" ngModel required>
        <span class="help-block" *ngIf="!postCode.valid && postCode.touched">Introduza um código-postal!</span>
  </div>
  <div class="modal-body">
      <label for="postCode">Localidade</label>
        <input type="text" class="form-control" placeholder="Introduza a Localidade!" (input)="updateData($event)" name="city" id="city" #city="ngModel" ngModel required>
        <span class="help-block" *ngIf="!city.valid && city.touched">introduza uma localidade!</span>
  </div>
  <div class="modal-body">
    <label for="service">Serviço</label>
    <div class="form-group">
      <div class="col-sm-9">
          <select name="AsService" id="AsService" class="form-control" #AsService="ngModel" ngModel required>
              <option value="4">Pacote 4 Serviços</option>
              <option value="3">Pacote 3 Serviços</option>
              <option value="2">Pacote 2 Serviços</option>
              <option value="1">Pacote 1 Serviço</option>
          </select>
          <span class="help-block" *ngIf="!AsService.valid && AsService.touched">Selecione um serviço!</span>
      </div>
    </div> 
  </div>    
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.save('saveClick')">Save</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


</body>
