html {
   width: 100%;
}

body {
   width: 100%;
}

hr {
   border: 1px solid  lightgray;
   background-color:  lightgray;
}

.container {
   margin-left: 10%;
   width: 130%;
}

*[role="form"] {
   width: 100%;
   max-width: 700px;
   padding: 15px;
   margin: 0 0 0 0;
   border-radius: 0.3em;
   color: Black;
   padding: 5%;
}

*[role="form"] h2 { 
   font-family: 'DM Sans', sans-serif;
    color: rgb(51, 102, 214);
    font-size: 40px;
    font-weight: 100;
    margin-top: 1%;
    text-align: center;
    text-transform: uppercase;
}


span {
   font-size: 13px;
   color: red;
}

h3 {
   font-family: 'DM Sans', sans-serif;
   color: rgb(51, 102, 214);
}

.form-group {
   margin-top: 4%;
  
}

.portalnetLogo {
   clear: both;
   position: absolute;
   margin: 22% 0 0 65%;
}

h1 {
   color: rgb(51, 102, 214);
   font-size: 500%;
   font-weight: 400px;
}

input.ng-invalid.ng-touched {
   border: 1px solid red;
}

h4 {
   font-family: 'DM Sans', sans-serif;
   font-size: 60px;
   font-weight: 200;
   margin-top: 1%;
}