<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
<body >
  <br><br><br>

<div class="container">
    <form class="form-horizontal" role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <h2 id="title">Registration</h2>
        <hr>
        <br>
        <div class="form-group">
            <label for="firstName" class="col-sm-4 control-label">Nome Completo*</label>
            <div class="col-sm-12">
                <input type="text" id="fullName" placeholder="Introduza o seu Nome Completo" class="form-control" ngModel name="fullName" #fullName="ngModel" autofocus required>
                <span class="help-block" *ngIf="!fullName.valid && fullName.touched">Introduza o seu nome!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="postCode" class="col-sm-4 control-label">Código-Postal*</label>
            <div class="col-sm-12">
                <input type="text" id="postCode" placeholder="Introduza o seu Código-Postal" class="form-control" ngModel name="postCode" #postCode="ngModel" autofocus required> 
                <span class="help-block" *ngIf="!postCode.valid && postCode.touched">Introduza o seu código-postal!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="adress" class="col-sm-4 control-label">Morada*</label>
            <div class="col-sm-12">
                <input type="text" id="adress" placeholder="Introduza a sua Morada" class="form-control" ngModel name="adress" #adress="ngModel" required>
                <span class="help-block" *ngIf="!adress.valid && adress.touched">Introduza a sua morada!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="adress" class="col-sm-4 control-label">Localidade*</label>
            <div class="col-sm-12">
                <input type="text" id="city" placeholder="Introduza a sua Morada" class="form-control" ngModel name="city" #city="ngModel" required>
                <span class="help-block" *ngIf="!city.valid && city.touched">Introduza a sua Localidade!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email* </label>
            <div class="col-sm-12">
                <input type="email" id="email" placeholder="Introduza o seu Email" class="form-control" ngModel name="email" #email="ngModel" email autofocus required>
                <span class="help-block" *ngIf="!email.valid && email.touched">Introduza o seu email!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Palavra-Passe*</label>
            <div class="col-sm-12">
                <input type="password" id="password" placeholder="Introduza a Palavra-Passe" class="form-control" ngModel name="password" #password="ngModel" autofocus required>
                <span class="help-block" *ngIf="!password.valid && password.touched">Introduza uma palavra-passe!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-5 control-label">Confirmar Palavra-Passe*</label>
            <div class="col-sm-12">
                <input type="password" id="confirmPassword" placeholder="Confirme a Palavra-Passe" class="form-control" ngModel name="confirmPassword" #confirmPassword="ngModel" autofocus required>
                <span class="help-block" *ngIf="!confirmPassword.valid && confirmPassword.touched">Confirme a sua palavra-passe!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-5 control-label">Data de Nascimento*</label>
            <div class="col-sm-12">
                <input type="date" id="birthDate" class="form-control" ngModel name="birthDate" #birthDate="ngModel" required>
                <span class="help-block" *ngIf="!birthDate.valid && birthDate.touched">Introduza a sua data de nascimento!</span>
            </div>
        </div>
        <br>
        <div class="form-group" class="col-sm-5 control-label">
            <label>Selecione o seu género*</label>
            <div class="radio" *ngFor="let gender of genders" required>
                <label>
                    <input type="radio"
                    name="gender"
                    ngModel
                    [value]="gender"> {{ gender }}
                </label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="phoneNumber" class="col-sm-5 control-label">Telemóvel</label>
            <div class="col-sm-12">
                <input type="text" id="phoneNumber" placeholder="Insira o seu número de telemóvel" class="form-control" ngModel name="phoneNumber">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block" style="color: rgb(0, 0, 0);">*Campos Obrigatórios</span>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label for="service" class="col-sm-3 control-label"><h2>Serviço</h2></label>
            <div class="col-sm-9">
                <select name="service" id="service" class="form-control" #service="ngModel" ngModel required>
                    <option value="4">Pacote 4 Serviços</option>
                    <option value="3">Pacote 3 Serviços</option>
                    <option value="2">Pacote 2 Serviços</option>
                    <option value="1">Pacote 1 Serviço</option>
                </select>
                <span class="help-block" *ngIf="!service.valid && service.touched">Selecione um serviço!</span>
            </div>
        </div>     
        <br><br>
        <div class="form-group">
            <label for="service" class="col-sm-3 control-label"><h2>Preço</h2></label>
            <div class="col-sm-9">
                
            </div>
        </div>    
        <br>    
        
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Registar</button>
        <button type="reset" class="btn btn-danger" (click)="onReset()" style="margin-left: 1%;">Limpar</button>
    </form> 
</div> 
</body>


