<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  </head>
  <body>
       
    <div class="row">
        <div class="table-responsive">
          <h2>Tabela de Funcionários</h2>
          <button type="button" class="btn-success" style="margin-left: 1%; border-radius: 3px;" routerLink="/createEmployee">Criar Operador</button>
          <br><br><br>
          <table class="table">
            <thead>
                <tr>
                    <th>Colaborador Id</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>E-Mail</th>
                    <th class="text-right">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees " >
                    <td scope="row">{{ employee.employeeId }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.role }}</td>
                    <td class="td-actions text-right">
                        <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0">Remover</button></span>
                    </td>
                </tr>   
                </tbody>
            </table>
        </div>
    </div>
            
  
  
  </body>
  