<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
   <!-- Card -->
    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Página de Administrador </h3>
        <hr class="bg-dark mb-4 w-25">
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/img/services.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Serviços</h4>
                        <p class="card-text">Ver, editar ou adicionar serviços.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/servicesTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/img/clients.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Clientes</h4>
                        <p class="card-text">Ver, editar, adicionar ou eliminar clientes.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/clientsTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/img/employes.png" alt="Card image cap"  style="height: 130px; margin-top: 20%;">
                    <div class="card-block p-3">
                        <h4 class="card-title">Colaboradores</h4>
                        <p class="card-text">Ver, adicionar ou eliminar colaboradores.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/employeesTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- Card -->

  </body>
    