<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
   <!-- Card -->
    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Escolha uma opção </h3>
        <hr class="bg-dark mb-4 w-25">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Serviços</h4>
                        <p class="card-text">Eliminar ou adicionar serviços.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/servicesTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Clientes</h4>
                        <p class="card-text">Ver, editar, adicionar ou eliminar clientes.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/clientTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://dummyimage.com/350x250/c7c7c7/000.png" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Empregados</h4>
                        <p class="card-text">Ver, adicionar ou eliminar empregados.</p>
                        <a href="#" class="btn btn-primary rounded-0 mb-2"  routerLink="/employeTable" style="cursor: pointer;">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <h3 class="display-4">Associar Serviços</h3>
                <hr class="bg-dark w-25 ml-0">
                <p class="lead">
                   Adicionar novos serviços a um cliente que já tenha um serviço associado.
                </p>
                <a href="#" class="btn btn-outline-primary rounded-0" routerLink="/associateServices" style="cursor: pointer;">Entrar</a>
            </div>
            <div class="col-md-4 mt-5">
                <img class="card-img-top" src="https://dummyimage.com/300x300/c7c7c7/000.png" alt="Card image cap">
            </div>
        </div>
    </div>
  </body>
    